<div class="bg-light lter b-b wrapper-md">
  <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="m-n font-thin h3 text-black">Panel Template</h1>
        <small class="text-muted">Choose a  template to  helpful widget to your panel.</small>
      </div>
      <!-- <div class="col-sm-6 text-right hidden-xs">
        <ul class="nav nav-pills pull-right">
          <li><a href="" ng-click="random()" class="">Refresh</a></li>
          <li><a href="" ng-click="randomStacked()">Add Widget</a></li>
          <li><a href="" ng-click="randomStacked()">Edit</a></li>
          <li><a href="" ng-click="randomStacked()">Share</a></li>
          <li><a href="" ng-click="randomStacked()">Export</a></li>
        </ul>
      </div> -->
    </div>
</div>
<div class="wrapper-md">
  <tabset class="tab-container">
    <tab>
      <tab-heading>
        By Role
      </tab-heading>
      <img src="img/panel_template_1.jpg" style="width: 100%; max-width: 100%">
    </tab>
    <tab>
      <tab-heading>
        By Data Source 
      </tab-heading>
      <img src="img/panel_template_2.jpg" style="width: 100%; max-width: 100%">
    </tab>
    <tab>
      <tab-heading>
        Special Scenario
      </tab-heading>
      <img src="img/panel_template_3.jpg" style="width: 100%; max-width: 100%">
    </tab>
  </tabset>
</div>